<nav>
    <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
            <li><a href="/" class="tooltipped" data-position="bottom" data-tooltip="Home"><i class="material-icons">dashboard</i></a></li>
            <li><a href="/dashboard" class="tooltipped" data-position="bottom" data-tooltip="Pets"><i class="material-icons">pets</i></a></li>
            <li><a href="/login" class="tooltipped" data-position="bottom" data-tooltip="Login"><i class="material-icons"> lock_open</i></a></li>
            <li><a href="/about" class="tooltipped" data-position="bottom" data-tooltip="About"><i class="material-icons"> info_outline</i></a></li>
            <li><a href="https://www.the-qrcode-generator.com/scan" class="tooltipped" data-position="bottom" data-tooltip="Scan QR Code"><i class="material-icons"> camera_alt</i></a></li>
            <!--<li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>-->
        </ul>
        <ul class="left hide-on-med-and-up">
            <li><a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a></li>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="sidenav">
    <li><a class="subheader">App</a></li>
    <li><a href="/"><i class="material-icons">dashboard</i> Home</a></li>
    <li><a href="/dashboard"><i class="material-icons">pets</i> Dashboard</a></li>
    <li><a href="/login"><i class="material-icons">lock_outline</i> Login</a></li>
    <li><a href="/about"><i class="material-icons">info_outline</i> About</a></li>
    <li><a href="https://www.the-qrcode-generator.com/scan"><i class="material-icons"> camera_alt</i> Scan QR Code</a></li>
</ul>