<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<%- include("partials/nav") %>
<div class="row" style="background-color: #F5F5F5">
	<div class="col l4 s12">
		<div class="card">
			<div class="card-image">
				<img src="./assets/general/wall-animal-dog-pet.jpg" width="500" height="300">
				<span class="card-title">Rufus</span>
			</div>
			<div class="card-content">
				<p>I am old, but wise. I am very calm around strangers, and can even deal with the occasional toddler or two.</p>
			</div>
			<div class="card-action">
				<a href="http://167.99.103.150/profile/rufus">View my profile</a>
			</div>
		</div>
	</div>
	<div class="col l4 s12">
		<div class="card">
			<div class="card-image">
				<img src="./assets/general/angry-animal-cat-1331821.jpg" width="500" height="300">
				<span class="card-title">Maxine</span>
			</div>
			<div class="card-content">
				<p>I'm Maxine. I may be grumpy when I first meet you, but give me some time, and I'll become friendly in no time!</p>
			</div>
			<div class="card-action">
				<a href="http://167.99.103.150/profile/maxine">View my profile</a>
			</div>
		</div>
	</div>

	<div class="col l4 s12">
		<div class="card">
			<div class="card-image">
				<img src="./assets/general/animal-aquarium-aquatic-886210.jpg" width="500" height="300">
				<span class="card-title">Musashi</span>
			</div>
			<div class="card-content">
				<p>Blub. Blub. Only kidding! My name is Musashi, and I am honored to meet you.</p>
			</div>
			<div class="card-action">
				<a href="http://167.99.103.150/profile/musashi">View my profile</a>
			</div>
		</div>
	</div>

	<div class="col l4 s12">
		<div class="card">
			<div class="card-image">
				<img src="./assets/general/green-iguana.jpg" width="500" height="300">
				<span class="card-title">Simon</span>
			</div>
			<div class="card-content">
				<p>Slow and steady, no need to go fast. You'll find me chilling under my rock or the heat lamp.</p>
			</div>
			<div class="card-action">
				<a href="http://167.99.103.150/profile/simmon">View my profile</a>
			</div>
		</div>
	</div>

	<div class="col s12 l4">
		<div class="card">
			<div class="card-image">
				<img src="./assets/general/birb.jpg" width="500" height="300">
				<span class="card-title">Fuego</span>
			</div>
			<div class="card-content">
				<p>Everyone, look at me! I may need constant attention, but will always return your affection.</p>
			</div>
			<div class="card-action">
				<a href="http://167.99.103.150/profile/fuego">View my profile</a>
			</div>
		</div>
	</div>
    
	<div class="col s12 l4">
		<div class="card">
			<div class="card-image">
				<img src="./assets/general/gerry.jpg" width="500" height="300">
				<span class="card-title">Gerry</span>
			</div>
			<div class="card-content">
				<p>Waddling may be hard, and I will fall over many times, but I got to keep up with my mom!</p>
			</div>
			<div class="card-action">
				<a href="http://167.99.103.150/profile/gerry">View my profile</a>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/materialize.min.js"></script>
<script type="text/javascript">
    $(".sidenav").sidenav();
    $(".tooltipped").tooltip({
                exitDelay: 0
            });
</script>